.ui.red.inverted.vertical.basic.segment {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
}
.ui.vertical.basic.segment.masthead {
    margin-top: 0px;
    padding-top: 0px;
    height: 400px;
    background : url('images/detail.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.ui.aligned.header.mastercontent {
    padding-top: 0px;
    padding-left: 30%;
    padding-right: 30%;
}
.ui.inverted.text.menu.myheader {
    padding-left: 40px;
    padding-right: 40px;
}
