.block_stone {
    width: 256px;
    height: 64px;
    box-sizing: border-box;
    background: url('images/cobble_stone.png');
    background-size: contain;
}

.block_stone_brick_row {
    width: 256px;
    height: 64px;
    box-sizing: border-box;
    background: url('images/stonebrick.png');
    background-size: contain;
}
.block_stone_brick_column {
    width: 64px;
    height: 128px;
    box-sizing: border-box;
    background: url('images/stonebrick.png');
    background-size: contain;
}
.block_stone_brick_column_right {
    width: 64px;
    height: 128px;
    box-sizing: border-box;
    background: url('images/stonebrick.png');
    background-size: contain;
    position: absolute;
    left: 192px;

}
.bg {
    width: 256px;
    height: 512px;
    background-size: 256px 64px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
.inner_stone_row {
    width: 128px;
    height: 64px;
    background: url('images/inner_cobble_stone.png');
    background-size: contain;
    position: absolute;
    left: 64px;

}

.inner_stone_row_two {
    width: 128px;
    height: 64px;
    background: url('images/inner_cobble_stone.png');
    background-size: contain;
    position: absolute;
    left: 64px;
    margin-top: 64px;
}

.iron_bars {
    width: 128px;
    height: 64px;
    background: url('images/Iron_bars.png');
    background-size: contain;
    position: absolute;
    margin-left: 64px;
    margin-top: 64px
}
.fire {
    width: 128px;
    height: 128px;
    background: url('images/har.gif');
    box-sizing: border-box;
    background-size: contain;
    position: absolute;
    left: 64px;
}
body {
    margin: 0;
    background: url('images/brick.jpg');
    background-size: 150px 150px;
}
